# Auth0
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=

# PostgreSQL 설정
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Toss PG
TOSSPAYMENTS_WEBHOOK_SECRET_KEY:

# Grafana (Prod 환경용)
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
