name: "Pull Request Labeler"
on:
  - pull_request_target

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v6.0.1 # https://github.com/marketplace/actions/labeler
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          sync-labels: true
